$calm-grey: #d2d2cf;
$silver-sand: #c3c3c3;
$white: #fff;
$black: #000;
$text-black: #333;
// https://www.schemecolor.com/bright-pastels.php
// Soft and cute
$pale-cerulean: #9bb8ed;
$light-pastel-purple: #a39fe1;
$thistle: #deb3e0;
$classic-rose: #fec6df;
$piggy-pink: #ffdde4;
$papaya-whip: #feecd6;
// Clarity in mind
$mauvelous: #f595b2;
$melon: #ffb3b3;
$blond: #fff1ba;
$powder-blue: #bee3ed;
$maximum-blue-purple: #afadde;

$middle-blue-green: #91cbca;
$cadet-blue: #58949c;
$light-silver: #d6d6d6;
