@import "../../styles/application.scss";

.content {
  padding-bottom: 200px;
}
.gallery {
  &__title {
    display: block;
    text-align: left;
    margin: 20px 0;
    @include fontStyle(2rem, $text-black, 700);
  }
  &__wrap {
    overflow: scroll;
    @include flexBox(flex, center, flex-start);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__img {
    height: 200px;
    margin-right: 20px;
  }
}
.wrap {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5rem;
    background-image: linear-gradient(to left, $white, rgba(255, 255, 255, 0));
  }
}
